/*! responsive-nav.js v1.0.15 by @viljamis */

#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

#nav li {
  width: 100%;
  display: block;
  padding: 0 1em;
  line-height: 3em;
}
#nav li a  {
	text-decoration: none;
	color: #222;
	font-weight: 700;
}

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#nav.opened {
  max-height: 9999px;
}

#nav-toggle {
	float: right;
	text-align: right;
	padding: 0 1em;
	line-height: 3em;
	text-decoration: none;
	color: #222;
	font-weight: 700;

}

#nav-toggle a {
}

.logo {
	display: none;
}


@media screen and (min-width: 40em) {
  .js #nav {
    position: relative;
  }
  .js #nav.closed {
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }

.logo {
	display: inline-block;
	float: left;
	vertical-align: middle;
}
#nav ul {
	display: inline-block;
	background-color: transparent;
	float: right;
	text-align: right;
}
#nav li {
	width: auto;
	display: inline-block;
	border: none;
	line-height: 4em;
}

#nav li a:hover {
	color: #fff;
}

  .logo {
	display: inline-block;
  }
  
  .logo a {
	padding: 0 1em;
	line-height: 4em;
	text-decoration: none;
	color: orange;
	font-weight: 700;
	text-transform: uppercase;
  }
  
  
.box {
  color: black;
  background: linear-gradient(
     white, white 50%, orange 50%, orange );
  background-size: 100% 202%;
  transition: all 0.1s ease;

}

.box:hover {
  background-position: 100% 100%;
  animation: up-bump 0.4s ease;
  text-decoration: none;
}

.box:hover  {
  color: #fff;
  text-decoration: none;
}

.box a:hover {
	text-decoration: none;
	color: #fff;
}






} /* END 45em Media Queries */
