/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * Typography
 */
/* line 5, ../sass/jagra-fw/_typo.scss */
html {
  font-size: 87.5%;
  line-height: 1.3;
}
@media only screen and (min-width: 60em) {
  /* line 5, ../sass/jagra-fw/_typo.scss */
  html {
    font-size: 110%;
    line-height: 1.5;
  }
}

/* line 15, ../sass/jagra-fw/_typo.scss */
body {
  font-family: "Roboto", "Segoe WP", "Segoe UI", "Helvetica Neue", Helvetica, "Trebuchet MS", Arial, Sans-serif;
  font-weight: 300;
}

/* line 20, ../sass/jagra-fw/_typo.scss */
h1, h2, h3, h4, h5, h6, q {
  font-family: "Hofler Text", "Droid Serif", georgia, serif;
  color: inherit;
  font-weight: 400;
  color: orange;
}

/* line 38, ../sass/jagra-fw/_typo.scss */
q {
  font-style: italic;
}

/* ==========================================================================
    $ Navigation
   ========================================================================== */
/**
 * Remove underline link on nav container
 */
/* line 10, ../sass/jagra-fw/_nav.scss */
nav a {
  text-decoration: none;
}

/**
 * Navigation Block;
 */
/* line 20, ../sass/jagra-fw/_nav.scss */
.side-bar--right {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  box-shadow: inset 2px 0 rgba(0, 0, 0, 0.1);
}

/* line 43, ../sass/jagra-fw/_nav.scss */
.nav--block {
  display: block;
  width: 100%;
  vertical-align: middle;
}
/* line 48, ../sass/jagra-fw/_nav.scss */
.nav--block a {
  /* Old browser */
  padding-left: 16;
  /* Modern Browser */
  padding-left: 1rem;
  /* Old browser */
  padding-right: 16;
  /* Modern Browser */
  padding-right: 1rem;
  /* Old browser */
  height: 48;
  /* Modern Browser */
  height: 3rem;
  display: block;
  width: 100%;
  line-height: 3rem;
  vertical-align: top;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 63, ../sass/jagra-fw/_nav.scss */
.nav--block a:hover, .nav--block a:focus {
  background: red;
}

/* ==========================================================================
   Buttons (https://github.com/suitcss/button) + modifed
   ========================================================================== */
/**
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 *
 * Recommended use:
 *
 * <a class="Button [btn--modifier]" role="button" href="[url]">Button text</a>
 * <button class="Button [btn--modifier]" type="submit">Button text</button>
 * <input class="Button [btn--modifier]" type="submit" value="Button text">
 */
/**
 * Button template
 *
 * Build on this component using rulesets in your application-level CSS.
 *
 * 1. Corrects inability to style clickable `input` types in iOS
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Inherit text color from ancestor.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Prevent wrapping across multiple lines.
 */
/* line 32, ../sass/jagra-fw/_button.scss */
.btn {
  -webkit-appearance: none;
  /* 1 */
  background: transparent;
  border: 1px solid;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 2 */
  color: inherit;
  /* 3 */
  cursor: pointer;
  display: inline-block;
  font: inherit;
  /* 4 */
  line-height: normal;
  /* 5 */
  margin: 0;
  padding: 0.4em 0.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* 6 */
  vertical-align: middle;
  white-space: nowrap;
  /* 7 */
}

/*
 * make button slightly larger on touch device, require modernizer touch detection
 */
/**
 * UI states
 */
/* line 72, ../sass/jagra-fw/_button.scss */
.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
}

/* line 77, ../sass/jagra-fw/_button.scss */
.btn:disabled,
.btn.is-disabled {
  cursor: default;
}

/**
 * Remove excess padding and border in Firefox 4+
 */
/* line 85, ../sass/jagra-fw/_button.scss */
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* -------------------------------------------------------------------------- */
/**
 * Modifier: full-width buttons
 */
/* line 96, ../sass/jagra-fw/_button.scss */
.btn--round {
  border-radius: 8px;
}

/* line 98, ../sass/jagra-fw/_button.scss */
.btn--full {
  display: block;
  width: 100%;
}

/* line 103, ../sass/jagra-fw/_button.scss */
.btn--call {
  background: red;
}

/* line 108, ../sass/jagra-fw/_button.scss */
.btn--toggleNav {
  position: fixed;
  top: 8px;
  right: 8px;
  border: 1px solid #fff;
  padding: 0 !important;
  margin: 0 !important;
  /* Old browser */
  height: 48;
  /* Modern Browser */
  height: 3rem;
  /* Old browser */
  width: 48;
  /* Modern Browser */
  width: 3rem;
  text-indent: -9999px;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 8px;
}

/* line 124, ../sass/jagra-fw/_button.scss */
.btn--big {
  padding: 1.3em 0.75em;
}

/**
 * Absolute Center with inlin-block
 * 
 * Absolute Center vertical and Horizontal using inline-block
 * Must Use height on pixel (absCenter__container)
 */
/**
 * 
 */
/* line 13, ../sass/jagra-fw/_position.scss */
.absCenter__container {
  text-align: center;
  /* [1] */
  margin: 0;
}
/* line 16, ../sass/jagra-fw/_position.scss */
.absCenter__container:before {
  content: "";
  display: inline-block;
  /* [] */
  height: 100%;
  /* [] */
  vertical-align: middle;
  margin-right: -.25em;
}

/* line 25, ../sass/jagra-fw/_position.scss */
.absCenter__item {
  display: inline-block;
  vertical-align: middle;
  max-width: 30em;
  padding: 1em;
}

/**
 * Absolute Center with Table cell technique
 *
 * Usage :
 * <div class="absolute-center__outer-container">
 *		<div class="absolute-center__inner-item">
 *			<div class="absolute-center__item">
 *				....
 *			</div>
 *		</div>
 * </div>
 *
 */
/* line 46, ../sass/jagra-fw/_position.scss */
.absolute-center__outer-container {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 52, ../sass/jagra-fw/_position.scss */
.absolute-center__inner-container {
  display: table-cell;
  vertical-align: middle;
}

/* line 57, ../sass/jagra-fw/_position.scss */
.absolute-center_item {
  display: block;
  margin: 0 auto;
}

/* ==========================================================================
   grid
   ========================================================================== */
/**
 * Core grid component
 * Make use of dimension utilities, or components that extend 'grid' in order
 * to apply particular widths to cells.
 *
 * Example uses:
 *
 * <div class="grid">
 *     <div class="grid-cell u-size1of2"></div>
 *     <div class="grid-cell u-size1of2"></div>
 *     <div class="grid-cell u-size1of3"></div>
 *     <div class="grid-cell u-size1of3"></div>
 * </div>
 *
 * <div class="grid grid--center">
 *     <div class="grid-cell u-size1of3"></div>
 *     <div class="grid-cell u-size1of3"></div>
 * </div>
 */
/* grid container
   ========================================================================== */
/**
 * All content must be contained within descendent `grid-cell` elements.
 *
 * 1. Ensure consistent default alignment.
 * 2. Remove inter-unit whitespace that appears between `inline-block` child
 *    elements. Works for non-monospace font-families. If you're using a
 *    monospace base font, you will need to set the `grid` font-family to
 *    `sans-serif` and then redeclare the monospace font on the `grid-cell`
 *    objects.
 * 3. Protect against WebKit bug with optimizelegibility.
 */
/* line 40, ../sass/jagra-fw/_grid.scss */
.grid {
  display: block;
  padding: 0;
  margin: 0;
  text-align: left;
  /* 1 */
  letter-spacing: -0.31em;
  /* 2 */
  text-rendering: optimizespeed;
  /* 3 */
}

/* Opera hack */
/* line 52, ../sass/jagra-fw/_grid.scss */
.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
  /* 2 */
}

/**
 * Modifier: horizontally center all grid units
 * Allows for automatic unit centering irrespective of the number of
 * units in the grid.
 */
/* line 62, ../sass/jagra-fw/_grid.scss */
.grid--center {
  text-align: center;
}

/**
 * Apply grid on list element
 */
/* line 69, ../sass/jagra-fw/_grid.scss */
.grid {
  list-style: none;
}

/* grid cell
   ========================================================================== */
/**
 * No explicit width by default. Rely on combining `grid-cell` with a dimension
 * utility or component that extends 'grid'.
 *
 * 1. Fundamentals of the non-float grid layout mechanism.
 * 2. Controls vertical positioning of units.
 * 3. Keeps content correctly aligned with the grid direction.
 * 4. Reset text defaults.
 */
/* line 88, ../sass/jagra-fw/_grid.scss */
.grid-cell {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  /* 1 */
  margin: 0;
  padding: 0;
  vertical-align: top;
  /* 2 */
  text-align: left;
  /* 3 */
  letter-spacing: normal;
  /* 4 */
  word-spacing: normal;
  /* 4 */
  text-rendering: auto;
  /* 4 */
}

/**
 * Modifier: horizontally center one unit
 * Set a specific unit to be horizontally centered. Doesn't affect
 * any other units. Can still contain a child `grid` object.
 */
/* line 109, ../sass/jagra-fw/_grid.scss */
.grid-cell--center {
  display: block;
  margin: 0 auto;
}

/* line 114, ../sass/jagra-fw/_grid.scss */
.grid-cell--middle {
  vertical-align: middle;
}

/**
 * Width
 */
/* line 125, ../sass/jagra-fw/_grid.scss */
.one-whole {
  width: 100%;
}

/* line 126, ../sass/jagra-fw/_grid.scss */
.one-half {
  width: 50%;
}

/* line 127, ../sass/jagra-fw/_grid.scss */
.one-third {
  width: 33.333%;
}

/* line 128, ../sass/jagra-fw/_grid.scss */
.one-quarter {
  width: 25%;
}

/* line 129, ../sass/jagra-fw/_grid.scss */
.one-five {
  width: 20%;
}

/* line 131, ../sass/jagra-fw/_grid.scss */
.golden-big {
  width: 65%;
}

@media only screen and (min-width: 60em) {
  /* line 134, ../sass/jagra-fw/_grid.scss */
  .mama-one-half {
    width: 50%;
  }

  /* line 135, ../sass/jagra-fw/_grid.scss */
  .mama-one-quarter {
    width: 25%;
  }
}
/**
 * add padding on section
 */
/* line 31, ../sass/screen-2.scss */
.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  margin: 0 auto;
  /* Reset last element margin inside section to 0 */
}
/* line 39, ../sass/screen-2.scss */
.container > *:last-child {
  margin-bottom: 0;
}

/* line 44, ../sass/screen-2.scss */
blockquote {
  margin: 16px 0;
  margin: 1rem 0;
  padding: 16px;
  padding: 1rem;
  border-top: 1px solid #f39c12;
  border-bottom: 1px solid #f39c12;
}

/**
 * Conditional CSS
 */
/* line 58, ../sass/screen-2.scss */
html.no-js .offcanvas-right {
  display: block;
  position: static;
}
/* line 63, ../sass/screen-2.scss */
html.no-js .toggle--nav {
  display: none;
  visibility: hidden;
}
/* line 69, ../sass/screen-2.scss */
html.no-js .main-nav {
  position: static;
  font-size: 14px;
  background: #222;
  display: table;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/* line 78, ../sass/screen-2.scss */
html.no-js .main-nav > a {
  display: table-cell;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  line-height: 1;
  padding: 8px 4px;
  color: #fcfcfc;
  text-align: center;
}
/* line 88, ../sass/screen-2.scss */
html.no-js .main-nav > a:hover {
  color: #fcfcfc;
  background: #f39c12;
}
/* line 96, ../sass/screen-2.scss */
html.no-js #homeTopNav__btn {
  background-color: transparent;
  background-image: url(icon/home.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  height: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
  color: black;
  text-indent: -9999px;
}
/* line 111, ../sass/screen-2.scss */
html.no-js #homeTopNav__btn:hover {
  color: #fcfcfc;
  background-color: #f39c12;
}

/**
 * Off Canvas 
 */
/* line 123, ../sass/screen-2.scss */
.offcanvas-right {
  display: block;
  background: #666;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: inset 5px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 5px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 167, ../sass/screen-2.scss */
.offcanvas-right-show {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: visible;
  /* Chrome and Safari */
  -moz-backface-visibility: visible;
  /* Firefox */
  -ms-backface-visibility: visible;
  /* Internet Explorer */
  backface-visibility: visible;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 194, ../sass/screen-2.scss */
.toRight {
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
  -webkit-transform: translate3d(-200px, 0, 0);
  -moz-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  -o-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/**
 * Responsive IMages
 */
/* line 217, ../sass/screen-2.scss */
.img-r {
  width: 100%;
  height: auto;
}

/**
 * Main Navigation 
 */
/* line 228, ../sass/screen-2.scss */
.main-content {
  z-index: 5;
}

/* line 234, ../sass/screen-2.scss */
#toggleNav {
  position: fixed;
  top: 0;
  right: 0;
}

/**
 * Styling Hero Unit
 */
/* line 245, ../sass/screen-2.scss */
#hero {
  width: 100% !important;
  background: url(../img/bg/dpn-bw-s.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

/**
 * Extra large Text for Hero Page
 */
/* line 256, ../sass/screen-2.scss */
.slogan {
  font-family: "Hofler Text", "Droid Serif", georgia, serif;
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
  font-weight: 900;
  color: #f39c12;
  letter-spacing: -1px;
}
@media only screen and (max-width: 30em) {
  /* line 256, ../sass/screen-2.scss */
  .slogan {
    font-size: 32px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 60em) {
  /* line 256, ../sass/screen-2.scss */
  .slogan {
    /* Old browser */
    font-size: 48;
    /* Modern Browser */
    font-size: 3rem;
  }
}
@media only screen and (min-width: 90em) {
  /* line 256, ../sass/screen-2.scss */
  .slogan {
    /* Old browser */
    font-size: 58;
    /* Modern Browser */
    font-size: 3.625rem;
  }
}

/* line 283, ../sass/screen-2.scss */
.horizontal-scroll {
  width: 100%;
  overflow-x: auto;
}

/* line 288, ../sass/screen-2.scss */
.list-horizontal {
  width: 500%;
}
/* line 291, ../sass/screen-2.scss */
.list-horizontal > li {
  display: inline;
  float: left;
}

/* line 302, ../sass/screen-2.scss */
.accordion {
  height: 160px;
  height: 10rem;
  display: block;
}

/* line 308, ../sass/screen-2.scss */
.accordion__header {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 800;
  color: #222;
  padding: 0;
  font-size: 14px;
  font-size: 0.75rem;
}

/**
* Typography Helper
*/
/* line 330, ../sass/screen-2.scss */
.text--left {
  text-align: left !important;
}

/* line 331, ../sass/screen-2.scss */
.text--right {
  text-align: right !important;
}

/* line 332, ../sass/screen-2.scss */
.text--center {
  text-align: center !important;
}

/* line 334, ../sass/screen-2.scss */
.text--white {
  color: #fcfcfc !important;
}

/* line 335, ../sass/screen-2.scss */
.text--orange {
  color: #f39c12 !important;
}

/* line 337, ../sass/screen-2.scss */
.text--shadow {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* line 339, ../sass/screen-2.scss */
.caps {
  text-transform: uppercase !important;
}

/**
 * Background Helper
 */
/* line 347, ../sass/screen-2.scss */
.bg--white {
  background-color: #fcfcfc !important;
}

/* line 348, ../sass/screen-2.scss */
.bg--orange {
  background-color: orange !important;
}

/* line 349, ../sass/screen-2.scss */
.bg--black {
  background-color: #222222 !important;
}

/* line 355, ../sass/screen-2.scss */
.bg--billboard {
  background: url(../img/thumb/billboard.jpg) center center no-repeat;
}

/* line 356, ../sass/screen-2.scss */
.bg--custom {
  background: url(../img/thumb/custom2.jpg) center center no-repeat;
}

/* line 357, ../sass/screen-2.scss */
.bg--huruftimbul {
  background: url(../img/thumb/huruftimbul.jpg) center center no-repeat;
}

/* line 358, ../sass/screen-2.scss */
.bg--konstruksi {
  background: url(../img/thumb/konstruksi.jpg) center center no-repeat;
}

/* line 359, ../sass/screen-2.scss */
.bg--neonbox {
  background: url(../img/thumb/neonbox.jpg) center center no-repeat;
}

/* line 360, ../sass/screen-2.scss */
.bg--marka {
  background: url(../img/thumb/plangsign2.jpg) center center no-repeat;
}

/* line 369, ../sass/screen-2.scss */
.bg--banner,
.bg--billboard,
.bg--custom,
.bg--huruftimbul,
.bg--konstruksi,
.bg--marka,
.bg--neonbox,
.bg--runningtext {
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 373, ../sass/screen-2.scss */
.bg--office {
  background: url(../img/thumb/office-bw.jpg) top center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 381, ../sass/screen-2.scss */
.bg--orange-4 {
  background-color: #d47517 !important;
}

/* line 382, ../sass/screen-2.scss */
.bg--orange-5 {
  background-color: #e0a21b !important;
}

/* line 383, ../sass/screen-2.scss */
.bg--orange-6 {
  background-color: #8aa4b1 !important;
}

/* line 384, ../sass/screen-2.scss */
.bg--orange-7 {
  background-color: #597684 !important;
}

/* line 385, ../sass/screen-2.scss */
.bg--orange-8 {
  background-color: #b5ab90 !important;
}

/* line 386, ../sass/screen-2.scss */
.bg--orange-9 {
  background-color: #ebe1ae !important;
}

/* line 387, ../sass/screen-2.scss */
.bg--orange-10 {
  background-color: #75675c !important;
}

/**plangsign2
* layout Helper
*/
/* line 392, ../sass/screen-2.scss */
.full_page {
  width: 100%;
  height: 320px;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 399, ../sass/screen-2.scss */
.full-width {
  max-width: 100% !important;
  width: 100% !important;
}

/* line 405, ../sass/screen-2.scss */
.full--height {
  height: 100vh;
}

/* line 409, ../sass/screen-2.scss */
.pad--top-large {
  padding: .5rem 0;
}

/* line 410, ../sass/screen-2.scss */
.side--pad {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

/* line 411, ../sass/screen-2.scss */
.tall--pad {
  padding-top: 2rem !important;
  padding-bottom: 4rem !important;
}

/* line 412, ../sass/screen-2.scss */
.flush {
  margin: 0px !important;
  padding: 0px !important;
}

/* line 413, ../sass/screen-2.scss */
.flush-top {
  margin-top: 0px !important;
}

/* line 414, ../sass/screen-2.scss */
.flush-bottom {
  margin-bottom: 0px !important;
}

/* line 415, ../sass/screen-2.scss */
.two-third {
  width: 66.666%;
}
