/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ==========================================================================
   Base (https://github.com/suitcss/base) + modifed
   ========================================================================== */
/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications. Removes the default spacing and border for
 * appropriate elements.
 */
/*
 * 1. Reset typography, will add manualy. see _typo.scss
 */
/* line 25, ../sass/jagra-fw/_reset.scss */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  padding: 0;
  /* 1 */
  line-height: 1;
  /* 1 */
}

/* line 31, ../sass/jagra-fw/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 37, ../sass/jagra-fw/_reset.scss */
iframe {
  border: 0;
}

/* line 42, ../sass/jagra-fw/_reset.scss */
ol,
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */
/* line 54, ../sass/jagra-fw/_reset.scss */
[tabindex="-1"] {
  outline: none;
}

/**
 * Remove margin-bottom on hgroup or module last-child
 */
/* line 65, ../sass/jagra-fw/_reset.scss */
hgroup *:last-child,
.module *:last-child {
  margin-bottom: 0;
}

/**
 * Typography
 */
/* line 5, ../sass/jagra-fw/_typo.scss */
html {
  font-size: 87.5%;
  line-height: 1.3;
}

/* line 10, ../sass/jagra-fw/_typo.scss */
body {
  font-family: "Roboto", "Segoe WP", "Segoe UI", "Helvetica Neue", Helvetica, "Trebuchet MS", Arial, Sans-serif;
  font-weight: 300;
}

/* line 15, ../sass/jagra-fw/_typo.scss */
h1, h2, h3, h4, h5, h6, q {
  font-family: "Hofler Text", "Droid Serif", georgia, serif;
  color: inherit;
  font-weight: 400;
}

/* line 21, ../sass/jagra-fw/_typo.scss */
p {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 26, ../sass/jagra-fw/_typo.scss */
q {
  font-style: italic;
}

/* ==========================================================================
    $ Navigation
   ========================================================================== */
/**
 * Remove underline link on nav container
 */
/* line 10, ../sass/jagra-fw/_nav.scss */
nav a {
  text-decoration: none;
}

/**
 * Navigation Block;
 */
/* line 20, ../sass/jagra-fw/_nav.scss */
.side-bar--right {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  box-shadow: inset 2px 0 rgba(0, 0, 0, 0.1);
}

/* line 43, ../sass/jagra-fw/_nav.scss */
.nav--block {
  display: block;
  width: 100%;
  vertical-align: middle;
}
/* line 48, ../sass/jagra-fw/_nav.scss */
.nav--block a {
  /* Old browser */
  padding-left: 16;
  /* Modern Browser */
  padding-left: 1rem;
  /* Old browser */
  padding-right: 16;
  /* Modern Browser */
  padding-right: 1rem;
  /* Old browser */
  height: 48;
  /* Modern Browser */
  height: 3rem;
  display: block;
  width: 100%;
  line-height: 3rem;
  vertical-align: top;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 63, ../sass/jagra-fw/_nav.scss */
.nav--block a:hover, .nav--block a:focus {
  background: red;
}

/* ==========================================================================
   Buttons (https://github.com/suitcss/button) + modifed
   ========================================================================== */
/**
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 *
 * Recommended use:
 *
 * <a class="Button [btn--modifier]" role="button" href="[url]">Button text</a>
 * <button class="Button [btn--modifier]" type="submit">Button text</button>
 * <input class="Button [btn--modifier]" type="submit" value="Button text">
 */
/**
 * Button template
 *
 * Build on this component using rulesets in your application-level CSS.
 *
 * 1. Corrects inability to style clickable `input` types in iOS
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Inherit text color from ancestor.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Prevent wrapping across multiple lines.
 */
/* line 32, ../sass/jagra-fw/_button.scss */
.btn {
  -webkit-appearance: none;
  /* 1 */
  background: transparent;
  border: 1px solid;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 2 */
  color: inherit;
  /* 3 */
  cursor: pointer;
  display: inline-block;
  font: inherit;
  /* 4 */
  line-height: normal;
  /* 5 */
  margin: 0;
  padding: 0.4em 0.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* 6 */
  vertical-align: middle;
  white-space: nowrap;
  /* 7 */
}

/*
 * make button slightly larger on touch device, require modernizer touch detection
 */
/**
 * UI states
 */
/* line 72, ../sass/jagra-fw/_button.scss */
.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
}

/* line 77, ../sass/jagra-fw/_button.scss */
.btn:disabled,
.btn.is-disabled {
  cursor: default;
}

/**
 * Remove excess padding and border in Firefox 4+
 */
/* line 85, ../sass/jagra-fw/_button.scss */
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* -------------------------------------------------------------------------- */
/**
 * Modifier: full-width buttons
 */
/* line 96, ../sass/jagra-fw/_button.scss */
.btn--full {
  display: block;
  width: 100%;
}

/* line 101, ../sass/jagra-fw/_button.scss */
.btn--call {
  background: red;
}

/* line 106, ../sass/jagra-fw/_button.scss */
.btn--toggleNav {
  position: fixed;
  top: 8px;
  right: 8px;
  border: 1px solid #fff;
  padding: 0 !important;
  margin: 0 !important;
  /* Old browser */
  height: 48;
  /* Modern Browser */
  height: 3rem;
  /* Old browser */
  width: 48;
  /* Modern Browser */
  width: 3rem;
  text-indent: -9999px;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 8px;
}

/**
 * Absolute Center with inlin-block
 * 
 * Absolute Center vertical and Horizontal using inline-block
 * Must Use height on pixel (absCenter__container)
 */
/**
 * 
 */
/* line 13, ../sass/jagra-fw/_position.scss */
.absCenter__container {
  text-align: center;
  /* [1] */
  margin: 0;
}
/* line 16, ../sass/jagra-fw/_position.scss */
.absCenter__container:before {
  content: "";
  display: inline-block;
  /* [] */
  height: 100%;
  /* [] */
  vertical-align: middle;
  margin-right: -.25em;
}

/* line 25, ../sass/jagra-fw/_position.scss */
.absCenter__item {
  display: inline-block;
  vertical-align: middle;
  max-width: 30em;
  padding: 1em;
}

/**
 * Absolute Center with Table cell technique
 */
/* line 36, ../sass/jagra-fw/_position.scss */
.absolute-center__container {
  display: table;
  vertical-align: middle;
  width: 100%;
}
/* line 41, ../sass/jagra-fw/_position.scss */
.absolute-center__container .absolute-center__item {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}

/* ==========================================================================
   grid
   ========================================================================== */
/**
 * Core grid component
 * Make use of dimension utilities, or components that extend 'grid' in order
 * to apply particular widths to cells.
 *
 * Example uses:
 *
 * <div class="grid">
 *     <div class="grid-cell u-size1of2"></div>
 *     <div class="grid-cell u-size1of2"></div>
 *     <div class="grid-cell u-size1of3"></div>
 *     <div class="grid-cell u-size1of3"></div>
 * </div>
 *
 * <div class="grid grid--center">
 *     <div class="grid-cell u-size1of3"></div>
 *     <div class="grid-cell u-size1of3"></div>
 * </div>
 */
/* grid container
   ========================================================================== */
/**
 * All content must be contained within descendent `grid-cell` elements.
 *
 * 1. Ensure consistent default alignment.
 * 2. Remove inter-unit whitespace that appears between `inline-block` child
 *    elements. Works for non-monospace font-families. If you're using a
 *    monospace base font, you will need to set the `grid` font-family to
 *    `sans-serif` and then redeclare the monospace font on the `grid-cell`
 *    objects.
 * 3. Protect against WebKit bug with optimizelegibility.
 */
/* line 40, ../sass/jagra-fw/_grid.scss */
.grid {
  display: block;
  padding: 0;
  margin: 0;
  text-align: left;
  /* 1 */
  letter-spacing: -0.31em;
  /* 2 */
  text-rendering: optimizespeed;
  /* 3 */
}

/* Opera hack */
/* line 52, ../sass/jagra-fw/_grid.scss */
.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
  /* 2 */
}

/**
 * Modifier: horizontally center all grid units
 * Allows for automatic unit centering irrespective of the number of
 * units in the grid.
 */
/* line 62, ../sass/jagra-fw/_grid.scss */
.grid--center {
  text-align: center;
}

/**
 * Apply grid on list element
 */
/* line 69, ../sass/jagra-fw/_grid.scss */
.grid {
  list-style: none;
}

/* grid cell
   ========================================================================== */
/**
 * No explicit width by default. Rely on combining `grid-cell` with a dimension
 * utility or component that extends 'grid'.
 *
 * 1. Fundamentals of the non-float grid layout mechanism.
 * 2. Controls vertical positioning of units.
 * 3. Keeps content correctly aligned with the grid direction.
 * 4. Reset text defaults.
 */
/* line 88, ../sass/jagra-fw/_grid.scss */
.grid-cell {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  /* 1 */
  margin: 0;
  padding: 0;
  vertical-align: top;
  /* 2 */
  text-align: left;
  /* 3 */
  letter-spacing: normal;
  /* 4 */
  word-spacing: normal;
  /* 4 */
  text-rendering: auto;
  /* 4 */
}

/**
 * Modifier: horizontally center one unit
 * Set a specific unit to be horizontally centered. Doesn't affect
 * any other units. Can still contain a child `grid` object.
 */
/* line 109, ../sass/jagra-fw/_grid.scss */
.grid-cell--center {
  display: block;
  margin: 0 auto;
}

/* line 114, ../sass/jagra-fw/_grid.scss */
.grid-cell--middle {
  vertical-align: middle;
}

/**
 * Width
 */
/* line 125, ../sass/jagra-fw/_grid.scss */
.one-whole {
  width: 100%;
}

/* line 126, ../sass/jagra-fw/_grid.scss */
.one-half {
  width: 50%;
}

/* line 127, ../sass/jagra-fw/_grid.scss */
.one-third {
  width: 33.333%;
}

/* line 128, ../sass/jagra-fw/_grid.scss */
.one-quarter {
  width: 25%;
}

/* line 129, ../sass/jagra-fw/_grid.scss */
.one-five {
  width: 20%;
}

/* line 131, ../sass/jagra-fw/_grid.scss */
.golden-big {
  width: 65%;
}

/**
 * add padding on section
 */
/* line 31, ../sass/screen.scss */
.container {
  max-width: 1140px;
  width: 90%;
  margin: 18px auto;
  margin: 1.5rem auto;
  padding: 18px 0;
  padding: 1.5rem 0;
  /* Reset last element margin inside section to 0 */
}
/* line 41, ../sass/screen.scss */
.container > *:last-child {
  margin-bottom: 0;
}

/* line 46, ../sass/screen.scss */
blockquote {
  margin: 16px 0;
  margin: 1rem 0;
  padding: 16px;
  padding: 1rem;
  border-top: 2px solid #f39c12;
  border-bottom: 1px solid #f39c12;
}

/**
 * Conditional CSS
 */
/* line 60, ../sass/screen.scss */
html.no-js .offcanvas-right {
  display: block;
  position: static;
}
/* line 65, ../sass/screen.scss */
html.no-js .toggle--nav {
  display: none;
  visibility: hidden;
}
/* line 71, ../sass/screen.scss */
html.no-js .main-nav {
  position: static;
  font-size: 14px;
  background: #222;
  display: table;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/* line 80, ../sass/screen.scss */
html.no-js .main-nav > a {
  display: table-cell;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  line-height: 1;
  padding: 8px 4px;
  color: #fcfcfc;
  text-align: center;
}
/* line 90, ../sass/screen.scss */
html.no-js .main-nav > a:hover {
  color: #fcfcfc;
  background: #f39c12;
}
/* line 98, ../sass/screen.scss */
html.no-js #homeTopNav__btn {
  background-color: transparent;
  background-image: url(icon/home.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  height: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
  color: black;
  text-indent: -9999px;
}
/* line 113, ../sass/screen.scss */
html.no-js #homeTopNav__btn:hover {
  color: #fcfcfc;
  background-color: #f39c12;
}

/**
 * Off Canvas 
 */
/* line 125, ../sass/screen.scss */
.offcanvas-right {
  display: block;
  background: #666;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  z-index: 2;
  -webkit-box-shadow: inset 5px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 5px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 169, ../sass/screen.scss */
.offcanvas-right-show {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: visible;
  /* Chrome and Safari */
  -moz-backface-visibility: visible;
  /* Firefox */
  -ms-backface-visibility: visible;
  /* Internet Explorer */
  backface-visibility: visible;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 196, ../sass/screen.scss */
.toRight {
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
  -webkit-transform: translate3d(-200px, 0, 0);
  -moz-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  -o-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/**
 * Main Navigation 
 */
/* line 221, ../sass/screen.scss */
.main-content {
  z-index: 5;
}

/* line 227, ../sass/screen.scss */
#toggleNav {
  position: fixed;
  top: 0;
  right: 0;
}

/**
 * Styling Hero Unit
 */
/* line 238, ../sass/screen.scss */
#hero {
  width: 100% !important;
  background: url(../img/bg/dpn-bw-s.jpg);
  -webkit-background-size: cover;
  background-size: cover;
}

/**
 * Extra large Text for Hero Page
 */
/* line 249, ../sass/screen.scss */
.slogan {
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
  font-weight: 900;
  color: #f39c12;
  letter-spacing: -1px;
}
@media only screen and (max-width: 30em) {
  /* line 249, ../sass/screen.scss */
  .slogan {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 90em) {
  /* line 249, ../sass/screen.scss */
  .slogan {
    /* Old browser */
    font-size: 58;
    /* Modern Browser */
    font-size: 3.625rem;
  }
}

/* line 272, ../sass/screen.scss */
.horizontal-scroll {
  width: 100%;
  overflow-x: auto;
}

/* line 277, ../sass/screen.scss */
.list-horizontal {
  width: 500%;
}
/* line 280, ../sass/screen.scss */
.list-horizontal > li {
  display: inline;
  float: left;
}

/* line 295, ../sass/screen.scss */
.accordion__header {
  line-height: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 800;
  color: #222;
  padding: 0 5%;
}

/**
* Typography Helper
*/
/* line 316, ../sass/screen.scss */
.text--left {
  text-align: left !important;
}

/* line 317, ../sass/screen.scss */
.text--right {
  text-align: right !important;
}

/* line 318, ../sass/screen.scss */
.text--center {
  text-align: center !important;
}

/* line 320, ../sass/screen.scss */
.text--white {
  color: #fcfcfc !important;
}

/* line 321, ../sass/screen.scss */
.text--orange {
  color: #f39c12 !important;
}

/* line 323, ../sass/screen.scss */
.text--shadow {
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/**
 * Background Helper
 */
/* line 327, ../sass/screen.scss */
.bg--white {
  background-color: #fcfcfc !important;
}

/* line 328, ../sass/screen.scss */
.bg--orange {
  background-color: orange !important;
}

/* line 329, ../sass/screen.scss */
.bg--orange-1 {
  background-color: #ffae19 !important;
}

/* line 330, ../sass/screen.scss */
.bg--orange-2 {
  background-color: #ffb732 !important;
}

/* line 331, ../sass/screen.scss */
.bg--orange-3 {
  background-color: #ffc04c !important;
}

/* line 332, ../sass/screen.scss */
.bg--orange-4 {
  background-color: #ffc966 !important;
}

/* line 333, ../sass/screen.scss */
.bg--orange-5 {
  background-color: #ffd27f !important;
}

/* line 334, ../sass/screen.scss */
.bg--orange-6 {
  background-color: #ffdb99 !important;
}

/* line 335, ../sass/screen.scss */
.bg--orange-7 {
  background-color: #ffe4b2 !important;
}

/* line 336, ../sass/screen.scss */
.bg--orange-8 {
  background-color: #ffedcc !important;
}

/* line 337, ../sass/screen.scss */
.bg--orange-9 {
  background-color: #fff6e5 !important;
}

/* line 338, ../sass/screen.scss */
.bg--orange-10 {
  background-color: white !important;
}

/**
* layout Helper
*/
/* line 343, ../sass/screen.scss */
.full-page {
  width: 100%;
  height: 250px;
  height: 95vh;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 351, ../sass/screen.scss */
.full-width {
  max-width: 100% !important;
  width: 100% !important;
}

/* line 356, ../sass/screen.scss */
.side--pad {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

/* line 358, ../sass/screen.scss */
.flush {
  margin: 0px !important;
  padding: 0px !important;
}

/* line 359, ../sass/screen.scss */
.flush-top {
  margin-top: 0px !important;
}

/* line 360, ../sass/screen.scss */
.flush-bottom {
  margin-bottom: 0px !important;
}

/* line 361, ../sass/screen.scss */
.two-third {
  width: 66.666%;
}
