/*
Syntax error: Undefined variable: "$base-spacing-unit".
        on line 51 of /Users/indra/Public/github/abstractadv.github.io/new/sass/jagra-fw/_typo.scss
        from line 15 of /Users/indra/Public/github/abstractadv.github.io/new/sass/screen-2.scss

Backtrace:
/Users/indra/Public/github/abstractadv.github.io/new/sass/jagra-fw/_typo.scss:51
/Users/indra/Public/github/abstractadv.github.io/new/sass/screen-2.scss:15
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/script/variable.rb:49:in `_perform'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/script/node.rb:40:in `perform'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:146:in `block (2 levels) in compile'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:145:in `block in compile'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/logger.rb:46:in `red'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:144:in `compile'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:124:in `compile_if_required'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:109:in `block (2 levels) in run'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `each'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `block in run'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:106:in `run'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/watcher/compiler.rb:24:in `compile'
/Users/indra/.rvm/rubies/ruby-1.9.3-p362/lib/ruby/1.9.1/forwardable.rb:201:in `compile'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:92:in `sass_modified'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:85:in `sass_callback'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/watcher/watch.rb:17:in `call'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/watcher/watch.rb:17:in `run_callback'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:78:in `block (2 levels) in listen_callback'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:77:in `each'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:77:in `block in listen_callback'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:76:in `each'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:76:in `listen_callback'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/listener.rb:212:in `call'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/listener.rb:221:in `block in initialize_adapter'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/indra/.rvm/gems/ruby-1.9.3-p362/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$base-spacing-unit\".\A         on line 51 of /Users/indra/Public/github/abstractadv.github.io/new/sass/jagra-fw/_typo.scss\A         from line 15 of /Users/indra/Public/github/abstractadv.github.io/new/sass/screen-2.scss"; }
