/**
 * Typography
 */

 html {
	font-size: 87.5%;
	line-height: 1.3;

	@include bp(mama-bear) {
		font-size: 110%;
		line-height: 1.5;
	}
}

body {
	font-family: "Roboto", "Segoe WP", "Segoe UI", "Helvetica Neue", Helvetica, "Trebuchet MS", Arial, Sans-serif;
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6, q {
	font-family: "Hofler Text", "Droid Serif", georgia, serif;
	color: inherit;
	font-weight: 400;
	color: orange;
}


h2 {
	//line-height: 1;
	//font-size: 2rem;
}

p {
	//margin-bottom: 16px;
	//margin-bottom: 1rem;
}

q {
	font-style: italic;
}
